.advantages {
  font-family: "PT Sans", "Arial", sans-serif;
  text-align: center;
  text-transform: uppercase;
}

.advantages__header {
  background-color: #ffffff;
}

.advantages__slogan {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #000000;
  margin: 0;
  padding: 32px 32px 35px 32px;
}

.advantages__intro {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #333333;
}

.advantages__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #000000;
}

.advantages__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #333333;
}

.advantages__number {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}

.advantages__item--square {
  background-color: #eeeeee;
}

.advantages__item--road {
  background-color: #eeeeee;
}

.advantages__item--torists {
  background-color: #eeeeee;
}

.advantages__item--township {
  color: #ffffff;
  background-color: #81b3d2;
}

.advantages__item--bridge {
  color: #ffffff;
  background-color: #81b3d2;
}

.advantages__title--white {
  color: #ffffff;
}

.advantages__description--white {
  color: #ffffff;
}

.advantages__number--white {
  color: #ffffff;
}
