.advantages {
  font-family: "PT Sans", "Arial", sans-serif;
  text-align: center;
  text-transform: uppercase;
}

.advantages__header {
  background-color: #ffffff;
}

.advantages__slogan {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #000000;
  margin: 0;
  padding: 32px 32px 35px 32px;
}

.advantages__intro {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #333333;
  padding: 0 18px 0 18px;
}

.advantages__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #000000;
}

.advantages__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #333333;
}

.advantages__number {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}

.advantages__item--blue-bg {
  color: #ffffff;
  background-color: #81b3d2;
  padding: 37px 18px 0 18px;

  .advantages__title,
  .advantages__description,
  .advantages__number {
    color: #ffffff;
  }
}

.advantages__item--gray-bg {
  background-color: #eeeeee;
  padding: 0 18px 0 18px;
}

.advantages__list {
  .list();

  display: flex;
  flex-wrap: wrap;
}

.advantages__item-wrapper {
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: @tablet-width) {
  .advantages__list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }

  .advantages__item-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .advantages__item {
    height: 256px;
    width: 256px;
  }

  .advantages__item-wrapper img {
    height: 256px;
    width: 512px;
  }
}

@media (min-width: @desktop-width) {
  .advantages__list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }

  .advantages__item-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .advantages__item {
    height: 256px;
    width: 400px;
  }

  .advantages__item-wrapper img {
    width: 800px;
  }
}
