.aside {
  font-family: "PT Sans", "Arial", sans-serif;
  text-align: center;
  text-transform: uppercase;
}

.aside__title {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: #000000;
  margin: 0;
  padding: 38px 29px 38px 29px;
}

.aside__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #333333;
  margin: 0;
  padding: 0 29px 38px 29px;
}

.aside__button {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  background-color: #81b3d2;
  border: none;
  text-transform: uppercase;
  width: 248px;
  padding: 10px;
  margin-bottom: 49px;
}

@media (min-width: @tablet-width) {
  .aside__title {
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 26px;
    text-align: center;
    padding: 38px 166px 38px 167px;
  }

  .aside__description {
    padding: 0 166px 44px 167px;
  }

  .aside__button {
    width: 458px;
    padding: 14px 121px 17px 121px;
  }
}

@media (min-width: @desktop-width) {
  .aside__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 26px;
    text-align: center;
    padding: 60px 382px 38px 382px;
  }

  .aside__description {
    padding: 0 382px 44px 382px;
  }
}
