.form {
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form__legend {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #000000;
}

.form__label {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}

.form__control {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

.form__radio-label {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

.form__checkbox-label {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

.form__placeholder {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: rgba(0, 0, 0, 0.3);
}

.form__submit {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  background-color: #81b3d2;
  border: none;
}

.form__text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: rgba(51, 51, 51, 0.6);
}

.form__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.form__fieldset {
  margin: 0;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .form {
    font-family: "PT Sans", "Arial", sans-serif;
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }

  .form__fieldset {
    margin: 0;
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .form {
    font-family: "PT Sans", "Arial", sans-serif;
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }

  .form__fieldset {
    margin: 0;
    padding: 0;
  }
}
