.form {
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 20px 0 20px;
}

.form__legend {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #000000;
}

.form__label {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  padding-left: 16px;
}

.form__control {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  width: 280px;
  height: 58px;
  background-color: #f2f2f2;
  margin-bottom: 16px;
  padding: 16px 4px 16px 16px;
}

.form__control::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.form__radio-label {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

.form__checkbox-label {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

.form__placeholder {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: rgba(0, 0, 0, 0.3);
  background-color: #f2f2f2;
  width: 279px;
  padding: 16px 16px 16px 16px;
}

.form__submit {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  background-color: #81b3d2;
  border: none;
  align-self: start;
  width: 280px;
  height: 58px;
}

.form__text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: rgba(51, 51, 51, 0.6);
  padding: 3px 0 0 119px;
  margin: 0;
}

.form__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.form__fieldset {
  width: 280px;
  margin: 0;
  padding: 0;
}

.form__fieldset-testimonial {
  width: 279px;
}

@media (min-width: @tablet-width) {
  .form {
    font-family: "PT Sans", "Arial", sans-serif;
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }

  .form__fieldset {
    width: 648px;
  }

  .form__fieldset-information {
    width: 280px;
  }

  .form__fieldset-testimonial {
    width: 648px;
  }

  .form__placeholder {
    width: 648px;
    height: 160px;
  }

  .form__submit {
    width: 324px;
    height: 58px;
    margin-top: 48px;
  }

  .form__text {
    margin-top: 71px;
    margin-right: 83px;
  }
}

@media (min-width: @desktop-width) {
  .form {
    font-family: "PT Sans", "Arial", sans-serif;
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }

  .form__fieldset {
    width: 960px;
  }

  .form__fieldset-information {
    width: 430px;
  }

  .form__fieldset-testimonial {
    width: 960px;
  }

  .form__control {
    height: 58px;
    width: 430px;
  }

  .form__placeholder {
    width: 768px;
    height: 160px;
  }

  .form__submit {
    width: 384px;
    height: 58px;
  }

  .form__text {
    margin-top: 71px;
    margin-right: 206px;
  }
}
