.hero {
  background-image: url("../img/zigzag.svg"), url("../img/mountine.jpg");
  background-size: 100% auto, 100% auto;
  background-position: left 0 bottom 0;
  background-color: #f2f2f2;
  background-repeat: no-repeat, no-repeat;
  text-align: center;
  padding: 52px 60px 60px 60px;
  width: 901px;
  height: 389px;
  left: -290px;
}
