.hero {
  background-image: url("../img/zigzag.svg"), url("../img/mountine.jpg");
  background-size: 100% auto, cover;
  background-position: left 0 bottom 0;
  background-color: #f2f2f2;
  background-repeat: no-repeat, no-repeat;
  text-align: center;
  padding: 90px 10px 0 10px;
  height: 389px;

  @media (min-width: @tablet-width) {
    background-image: url("../img/zigzag.svg"), url("../img/mountine.jpg");
  }
}
