.main-footer {
  font-family: "PT Sans", "Arial", sans-serif;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .main-footer__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 42px 60px 0 60px;
  }
}

@media (min-width: @desktop-width) {
  .main-footer__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 42px 120px 0 120px;
  }
}
