.main-header {
  display: flex;
  flex-direction: column;
}

.main-header__logo {
  height: 56px;
  text-align: center;
  outline: 5px solid rgba(255, 0, 0, 0.8);
  outline-offset: -5px;
}

.main-header__logo img {
  width: 185px;
  height: 96px;
}

@media (min-width: @tablet-width) {
  .main-header__logo img {
    width: 185px;
    height: 96px;
  }
}

@media (min-width: @desktop-width) {
  .main-header__logo img {
    width: 185px;
    height: 96px;
  }
}
