.page__container {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
}

@media (min-width: @tablet-width) {
  .page__container {
    width: 768px;
  }
}

@media (min-width: @desktop-width) {
  .page__container {
    width: 1200px;
  }
}
