.places {
  font-family: "PT Sans", "Arial", sans-serif;
  text-align: center;
  display: block;
}

.places__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.places__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.places__like {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  background-image: url("../img/like-icon.svg");
  background-repeat: no-repeat;
  padding: 0 57px;
}

.places__picture img {
  width: 280px;
  height: 280px;
}

.places__content {
  text-align: start;
  padding: 0 20px;
}

@media (min-width: @tablet-width) {
  .places {
    display: flex;
    flex-wrap: wrap;
  }

  .places__content {
    background-color: #f2f2f2;
  }

  .places__picture img {
    width: 324px;
    height: 267px;
  }

  .places__picture-road img {
    width: 648px;
    height: 400px;
  }
}

@media (min-width: @desktop-width) {
  .places {
    display: flex;
    flex-wrap: wrap;
  }

  .places__content {
    background-color: #000000;
    opacity: 0.3;
  }

  .places__picture img {
    width: 400px;
    height: 267px;
  }

  .places__picture-road img {
    width: 1200px;
    height: 400px;
  }
}
