.places {
  font-family: "PT Sans", "Arial", sans-serif;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.places__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.places__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.places__like {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
}

.places__picture {
  width: 280px;
  height: 280px;
}

@media (min-width: @tablet-width) {
  .places {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width: @desktop-width) {
  .places {
    display: flex;
    flex-wrap: wrap;
  }
}
