.promo {
  font-family: "PT Sans", "Arial", sans-serif;
  text-align: center;
  text-transform: uppercase;
}

.promo__slogan {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #000000;
  margin: 0;
  padding: 37px 20px 0 20px;
}

.promo__intro {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #333333;
  margin: 0;
  padding: 0 20px 50px 20px;
}

@media (min-width: @tablet-width) {
  .promo__slogan {
    padding: 66px 155px 0 155px;
  }

  .promo__intro {
    padding: 0 166px 67px 166px;
  }
}

@media (min-width: @desktop-width) {
  .promo__slogan {
    padding: 100px 377px 0 377px;
  }

  .promo__intro {
    padding: 0 370px 65px 372px;
  }
}
