.services {
  font-family: "PT Sans", "Arial", sans-serif;
  text-align: center;
  text-transform: uppercase;
}

.services__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #000000;
}

.services__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #333333;
}
