.video {
  font-family: "PT Sans", "Arial", sans-serif;
  text-align: center;
  text-transform: uppercase;
}

.video__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin: 0;
  padding: 17px 28px 0 26px;
}

.video__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin: 0;
  padding: 0 28px 38px 26px;
}

.video__picture {
  position: relative;
}

.video__picture img {
  width: 280px;
  height: 177px;
}

.video__button-play {
  content: "";
  position: absolute;
  background: rgba(255, 255, 255, 0.7);
  border: 28px solid transparent;
  border-left: 38px solid #ffffff;
  top: 62px;
  width: 48px;
  height: 54px;
  left: 129px;
}

@media (min-width: @tablet-width) {
  .video {
    padding-left: 60px;
    padding-right: 60px;
  }

  .video__picture img {
    width: 648px;
    height: 500px;
  }

  .video__title {
    font-size: 30px;
    margin-top: 58px;
    padding: 0 20px 25px 20px;
  }

  .video__description {
    padding: 0 100px;
    margin-bottom: 66px;
  }
}

@media (min-width: @desktop-width) {
  .video__picture img {
    width: 800px;
    height: 500px;
  }

  .video__title {
    margin-top: 66px;
    padding: 0 20px 25px 20px;
  }

  .video__description {
    padding: 0 170px;
    margin-bottom: 68px;
  }

  .video {
    padding-left: 199px;
    padding-right: 201px;
  }
}
